# exclude everything
*
# include only desired resources

# needed for list of node dependencies
!package.json
# built files
!build/
# public assets
!src/assets/
!src/templates/
# nginx config
!config/nginx
