html
    head
        link(rel="stylesheet", href="/static/styles/normalize.css")
        link(rel="stylesheet", href="/static/styles/main.css")
    body
        #app !{renderedComponent}
        script(src="/static/client.js", type="text/javascript")
