# #
# NGINX server configuration for mishkin.com
# #

server {
    # listen to port 80 for IPv4 addresses
    listen 80;
    # listen to port 80 for IPv6 addresses
    listen [::]:80;
    # handle requests to localhost              ! for debug only !
    server_name 10.0.0.29;

    # client_max_body_size 4G;

    # keepalive_timeout 5;

    # django project's static files
    location /static/ {
        root /home/mishkin_com/projects/mishkin.com;
    }

    # proxy all other location requests to gunicorn process via unix socket
    location / {
        include proxy_params;
        proxy_pass http://unix:/home/mishkin_com/projects/mishkin.com/mishkin_com.sock;
    }
}


# end of file
