# #
# NGINX server configuration for mishkin.
# #

server {
    # listen to port 80 for IPv4 addresses
    listen 80;
    # listen to port 80 for IPv6 addresses
    listen [::]:80;

    # handle requests to localhost              ! for debug only !
    server_name 10.0.0.29 localhost;

    # requests for static files
    location /static/ {
        # route to django project's collected static files
        root /home/mishkin/projects/mishkin;
    }

    # proxy all other location requests to gunicorn process via unix socket
    location / {
        include proxy_params;
        proxy_pass http://unix:/home/mishkin/projects/mishkin/mishkin.sock;
    }
}


# end of file
