server {
    listen 80;
    listen [::]:80;
    server_name 127.0.0.1;

    client_max_body_size 4G;

    keepalive_timeout 5;

    # your Django project's static files - amend as required
    location /static/ {
        alias /home/mishkin_com/projects/mishkin_com;
    }

    # Proxy the static assests for the Django Admin panel
    location /static/admin {
       alias /usr/lib/python2.7/dist-packages/django/contrib/admin/static/admin/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/mishkin_com/mishkin.com/mishkin_com.sock;
    }
}


# end of file
